<app-header></app-header>
<main>
  <section class="main-section pd">
    <div class="headline">
      <span>SMARTDATA SYNC</span>
      <h1>Conectando o futuro da automação e monitoramento em tempo real</h1>
    </div>
    <div class="image-container">
      <img
        class="image"
        ngSrc="assets/pessoasHero.jpg"
        width="1024"
        height="1024"
      />
    </div>
  </section>
  <section class="benefit-section pd">
    <div class="benefit-container">
      <div class="benefit-data">30% de Desperdício de Energia</div>
      <p class="benefit-description">
        Em instalações industriais, até <span>30%</span> da energia consumida é
        <span>desperdiçada</span>
        devido a processos ineficientes e falhas no monitoramento.
      </p>
    </div>
    <div class="benefit-container">
      <div class="benefit-data">
        US$ 24 bilhões em Danos por Incêndios Industriais
      </div>
      <p class="benefit-description">
        A cada ano, <span>incêndios industriais</span> resultam em uma média de
        US$ 24 bilhões em danos à propriedade e interrupções na produção.
      </p>
    </div>
    <div class="benefit-container">
      <div class="benefit-data">
        Até US$ 20 bilhões em Tempo de Inatividade Não Planejado
      </div>
      <p class="benefit-description">
        Paradas não programadas na produção podem custar às empresas até US$ 20
        bilhões anualmente em todo o mundo, com uma média de
        <span>perda de produção</span>
        de 5% a 20%
      </p>
    </div>
  </section>
  <section class="cta-section">
    <a
      target="_blank"
      href="https://api.whatsapp.com/send?phone=554499481127&text=Ol%C3%A1%20MexTech%2C%20%C3%A9%20um%20prazer%20entrar%20em%20contato%2C%20venho%20por%20meio%20do%20site%20da%20SmartData%20Sync%2C%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es."
    >
      <btn-primary btn-text="fale com nossos especialistas"> </btn-primary>
    </a>
  </section>
  <cta-form></cta-form>
  <section class="showCase-section pd">
    <div class="container-showCase">
      <div class="image" id="paulino"></div>
      <h3>Equipe Capacitada</h3>
      <p>Paulino Legendário!!</p>
    </div>
    <div class="container-showCase">
      <div class="image" id="davi"></div>
      <h3>Equipe Capacitada</h3>
      <p>Davi Legendário!!</p>
    </div>
  </section>
  <section class="another-Hero">
    <h1>Cansou de perder tempo?</h1>
    <a
      target="_blank"
      href="https://api.whatsapp.com/send?phone=554499481127&text=Ol%C3%A1%20MexTech%2C%20%C3%A9%20um%20prazer%20entrar%20em%20contato%2C%20venho%20por%20meio%20do%20site%20da%20SmartData%20Sync%2C%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es."
    >
      <btn-primary btn-text="fale com nossos especialistas"> </btn-primary>
    </a>
  </section>
  <footer>
    <div class="items-footer">
      <div class="sdsync">
        <img id="logo-footer" src="../../../assets/logo.png" />
      </div>
    </div>
    <div class="items-footer">
      <div class="social">
        <a
          target="_blank"
          href="https://api.whatsapp.com/send?phone=554499481127&text=Ol%C3%A1%20MexTech%2C%20%C3%A9%20um%20prazer%20entrar%20em%20contato%2C%20venho%20por%20meio%20do%20site%20da%20SmartData%20Sync%2C%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es."
          ><img src="../../../assets/social-icons/whatsapp.png"
        /></a>
      </div>
      <div class="social">
        <a target="_blank" href="https://www.linkedin.com/company/mextech/"
          ><img src="../../../assets/social-icons/face.png"
        /></a>
      </div>
      <div class="social">
        <a target="_blank" href="https://www.linkedin.com/company/mextech/"
          ><img src="../../../assets/social-icons/insta.png"
        /></a>
      </div>
    </div>
  </footer>
</main>
