@import "../../../color-variables.scss";

.btn {
  border: none;
  border-radius: 3.4rem;
  cursor: pointer;
  padding: 2rem 3rem;
  &:disabled {
    opacity: 0.6;
  }
  font-weight: bold;

  &.primary {
    color: white;
    background: $secondary-color;
    font-size: 2rem;
  }

  &.secondary {
    color: $primary-color;
    background: #ffffff;
    font-size: 1.5rem;
  }
}
